# Node modules
node_modules/
.nuxt/
.output/

# Environment variables
.env
.env.*

# IDE files
.vscode/
.idea/

# Build output
dist/
bin/
obj/

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# System files
.DS_Store
Thumbs.db
